<p id="notice"><%= notice %></p>

<h1>Members</h1>

<table class="table table-striped small">
  <thead>
    <tr>
      <th>ID ( email )</th>
      <th>Priority</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Organisation ( Job title )</th>
      <th>Created At</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.order(:created_at).each do |member| %>
      <tr>
        <td><%= member.id %> ( <%= member.email %> )</td>
        <td><%= member.priority %></td>
        <td><%= member.first_name %></td>
        <td><%= member.last_name %></td>
        <td><%= member.organisation %> ( <%= member.job_title %> )</td>
        <td><%= member.created_at.strftime("%H:%M - %d-%b-%y") %></td>
        <td><%= link_to 'Show', admin_member_path(member) %></td>
        <td><%= link_to 'Edit', edit_admin_member_path(member) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_admin_member_path %>


<div class="well">
  <h3>Import a CSV File</h3>
  <%= bootstrap_form_tag url: admin_members_import_path, multipart: true do |f| %>
  <%= f.file_field :file %>
  <%= f.submit "Import CSV" %>
  <% end %>
</div>
