<id="notice"><%= notice %></p>

<ul class="list-group" >
  <li class="list-group-item">
    <strong>ID:</strong>
    <span class='badge'><%= @member.id %></span>
  </li>

  <li class="list-group-item">
    <strong>Title:</strong>
    <%= @member.title %>
  </li>

  <li class="list-group-item">
    <strong>First Name:</strong>
    <%= @member.first_name %>
  </li>

  <li class="list-group-item">
    <strong>Last Name:</strong>
    <%= @member.last_name %>
  </li>

  <li class="list-group-item">
    <strong>Job Title:</strong>
    <%= @member.job_title %>
  </li>

  <li class="list-group-item">
    <strong>Organisation:</strong>
    <%= @member.organisation %>
  </li>

  <li class="list-group-item">
    <strong>Email Address:</strong>
    <%= @member.email %>
  </li>

  <li class="list-group-item">
    <strong>Token:</strong>
    <%= @member.token %>
  </li>
  
  <li class="panel panel-defaultlist-group-item">
    <strong>Notes:</strong>
    <ul class="list-group" >
      <% @member.notes.each_line do |line| %>
        <li class="list-group-item"><%= line %></li>
      <% end %>
    </ul>
  </li>

  <li class="list-group-item">
    <strong>RSVPs:</strong>
      <ul class="list-group" >
        <% @member.rsvps.each do |rsvp| %>
        <li class="list-group-item">
          <span class="badge">ID: <%= rsvp.id %></span>
          <strong>Updated At:</strong>
          <%= rsvp.updated_at.strftime("%H:%M - %d-%b-%y")  %><br />
          <strong>Event:</strong>
          <%= rsvp.event.name %><br />
          <strong>Status:</strong>
          <%= rsvp.status %><br /><br />
        </li>
        <% end %>
    </ul>
  </li>

</ul>

<%= link_to 'Edit', edit_admin_member_path(@member) %> |
<%= link_to 'Back', admin_members_path %>
