<id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <span class='badge'><%= @member.id %></span>
</p>

<p>
  <strong>Title:</strong>
  <%= @member.title %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>Job Title:</strong>
  <%= @member.job_title %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @member.organisation %>
</p>

<p>
  <strong>Email Address:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>RSVPs:</strong>
    <ul class="list-group" >
      <% @member.rsvps.each do |rsvp| %>
      <li class="list-group-item">
        <span class="badge">ID: <%= rsvp.id %></span>
        <strong>Updated At:</strong>
        <%= rsvp.updated_at.strftime("%H:%M - %d-%b-%y")  %><br />
        <strong>Event:</strong>
        <%= rsvp.event.name %><br />
        <strong>Status:</strong>
        <%= rsvp.status %><br /><br />
      </li>
      <% end %>
  </ul>
</p>

<p>
  <strong>Tokens:</strong>
    <ol class="list-group">
      <% @member.member_tokens.each do |token| %>
      <li  class="list-group-item">
        <span class="badge">
          ID: #<%= token.id %><br />
          RSVP: #<%= token.rsvp_id %>
        </span>
        <strong>Created At:</strong>
        <%= token.created_at.strftime("%H:%M - %d-%b-%y")  %><br />
        <strong>Token:</strong>
        <%= token.token %><br />
        <strong>Notes:</strong>
        <%= simple_format(token.notes) %><br />
      </li>
      <% end %>
  </ol>
</p>

<%= link_to 'Edit', edit_admin_member_path(@member) %> |
<%= link_to 'Back', admin_members_path %>
