<%= bootstrap_form_for([:admin, @event]) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :name %>
    <%= f.date_select :date, class: "small" %>
    <%= f.text_field :location %>
    <%= f.text_area :details, rows: 30 %>
    <%= f.submit %>
<% end %>
