<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <%= render "shared/event", event: @event %>
</p>
<p>
  <strong>Mailings</strong>
  <% @event.event_mails.each do |mail| %>
    <li><%= mail.name %></li>
  <% end %>
</p>

<%= link_to 'Edit', edit_admin_event_path(@event) %> |
<%= link_to 'Back', admin_events_path %>


<div class="well">
  <%= render "rsvps", rsvps_for_event: @rsvps_for_event %>
</div>
