
<%= bootstrap_form_for([:rsvp, member]) do |f| %>

  <%= hidden_field_tag(:token, token) if token %>

  <% if event %>
    <div class='jumbotron'>
      <center>
        <h2><%= event.name %></h2>
        <br />
        <b><%= event.date.to_formatted_s(:long_ordinal)    %></b>
        <br />
        <i><%= event.location %></i>
        <br />
        <br />
      </center>
      <%= select_tag(:rsvp, options_for_select([
      ['Attending', 'attending'],
      ['Not Attending', 'not_attending']
      ], rsvp.status || 'attending'),
      class: "form-control input-lg" ) %>
    </div>
  <% end %>

  <br />

  <% if member.errors.any? %>
    <div id='error_explanation' class='alert alert-danger'>
      There were some errors in your submission
    </div>
  <% end %>

  <br />

  <%= render_major_errors(member) %>

  <%= f.text_field :title, class: "input-lg" %>
  <%= f.text_field :first_name, class: "input-lg" %>
  <%= f.text_field :last_name, class: "input-lg" %>
  <%= f.text_field :job_title, class: "input-lg" %>
  <%= f.text_field :organisation, class: "input-lg" %>
  <%= f.text_field :email, class: "input-lg" %>
  <%= f.submit "Submit" %>

<% end %>
<br />
<br />
