<%= form_for([:admin, @invitation]) do |f| %>
  <% if invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
      <% invitation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_field :notes %>
  </div>

  <div class="field">
    <%= f.label :html %>
    <%= f.text_area :html %>
  </div>

  <div class="field">
    <%= f.label :plain_text %>
    <%= f.text_area :plain_text %>
  </div>

  <div class="field">
    <% f.label :event %>
    <%= f.collection_select(:event_id, Event.all, :id, :name) %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
