<%
done_members = event_mail.logs.map{|log| log.member_id}
rsvps = event_mail.event.rsvps.to_a
%>

<h3>Send to:</h3>
<p>Sent to <%= done_members.count %> of <%= members.count %></p>
<p><%= event_mail.event.rsvps.count %> members have rsvp'd</p>
<table><tr>
<td><input type="checkbox" id="selectAll" value="selectAll"> Select / Deselect All</td>
<td><input type="checkbox" id="selectAttending" value="selectAttending"> Select / Deselect Attending</td>
</tr></table>

<div class="pre-scrollable">
  <table class='table table-striped table-condensed small'>
    <thead>
      <tr>
        <th>Select</th>
        <th>Priority</th>
        <th class="col-md-4">ID (email)</th>
        <th class="col-md-3">Name</th>
        <th class="col-md-2">Job title</th>
        <th class="col-md-2">Company</th>
        <th class="col-md-1">RSVP for Event</th>
        <th>Times Sent</th>
      </tr>
    </thead>

    <tbody>
     <% members.order(updated_at: :desc).each do |member|
          rsvp = rsvps.find{|rsvp| rsvp.member_id == member.id}
          times_sent = done_members.count(member.id)
          style = "danger unsent" if times_sent < 1
          style = "success attending" if rsvp && rsvp.status == "attending"
          %>
          <tr class='<%= style %>'>
            <td><%= check_box_tag 'members[]', member.id, times_sent==0 %></td>
            <td><%= member.priority %></td>
            <td class="col-md-4"><%= member.id %> (<%= member.email %>)</td>
            <td class="col-md-3"><%= "#{member.first_name} #{member.last_name}" %></td>
            <td class="col-md-2"><%= member.job_title %></td>
            <td class="col-md-2"><%= member.organisation %></td>
            <td class="col-md-1"><%= (rsvp.status || "").capitalize if rsvp %></td>
            <td><%= times_sent %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
$('#selectAll').click(function() {
  if (this.checked) {
    $(':checkbox').each(function() {
      this.checked = true;
    });
  } else {
    $(':checkbox').each(function() {
      this.checked = false;
    });
  }
});
$('#selectAttending').click(function() {
  if (this.checked) {
    $('.attending').each(function(){
      $(this).find(":checkbox")[0].checked = true;
    });
  } else {
    $('.attending').each(function() {
      $(this).find(":checkbox")[0].checked = false;
    });
  }
});
</script>
