<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong> <%= @event_mail.name %>
</p>

<p>
  <strong>Event:</strong> <%= link_to @event_mail.event.name, admin_event_path(@event_mail.event)%>
</p>

<%= bootstrap_form_tag url: admin_mailing_sender_path, method: 'post' do |f| %>
  <div class="well">
    <%= render "member_selector", members: @members, event_mail: @event_mail%>
    <span class="right"><%= f.submit("Send") %></span>
  </div>
<% end %>

<br />

<div class="well">
  <%= render "shared/event_mail", event_mail: @event_mail %>
  <%= link_to 'Edit', edit_admin_mailing_path(@event_mail) %> |
  <%= link_to 'Back', admin_mailings_path %>
</div>
