<!DOCTYPE html>
<html>
  <head>
    <title>CACIN Events</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: "layouts/navbar" %>

    <%= "<div class='alert alert-info'>#{notice}</div>".html_safe if notice %>
    <%= "<div class='alert alert-danger'>#{alert}</div>".html_safe if alert %>

    <div class="container">
      <%= yield %>
    </div>
    
  </body>
</html>
